@charset "UTF-8";

body{
    height:97vh ;
    background-color: rgb(244, 205, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}

section{

    background-color: rgb(250, 241, 249);
    width: 500px;
    padding: 10px;

    border-radius: 20px;
}

h1{
    text-align: center;
    font-size: 2.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', 
    serif;

}
p{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif ;
    text-align: center;
}
#inputButtonTarefa{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#inputTarefa{
    width: 50%;
    height: 20px;
    cursor: pointer;
}

#buttonAdd{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 176, 250);

}

#buttonAdd:hover{
    cursor: pointer;
}

#buttonAdd:active{
    background-color: rgb(245, 139, 255);
}

#add{
    font-weight: bold;
    font-size: 1.8em;
}

#taskList{
    list-style-position: outside;
    
}

.taskItem{
    width: 80%;
    display: flex;
    gap: 5px;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.btnDelete{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 2px;
}

.btnDelete:active{
    background-color: rgb(237, 120, 120);
 }

 .cleanIcon{
    font-size: 1.5em;

 }

 
