@charset "UTF-8";

body{
    height:97vh ;
    background-color: rgb(244, 205, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}

section{

    background-color: rgb(250, 241, 249);
    width: 60%;
    padding: 10px;

    border-radius: 20px;
}

h1{
    text-align: center;
    font-size: 2.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', 
    serif;

}
#inputButtonTarefa{
    display: flex;
    gap: 20px;
}

#inputTarefa{
    width: 60%;
    height: 20px;
    cursor: pointer;
}

#buttonAdd{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 176, 250);

}

#buttonAdd:hover{
    cursor: pointer;
}

#buttonAdd:active{
    background-color: rgb(245, 139, 255);
}

#add{
    font-weight: bold;
    font-size: 1.8em;
}